body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "XinGothic", "Heiti TC", "Noto Sans", "Noto Sans CJK TC", "微軟正黑體", sans-serif;

}
.navbar-default {
  background-color: #88b2ec;
  border-color: #4145c1;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e7f7f7;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e7f7f7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e7f7f7;
  background-color: #4145c1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e7f7f7;
  background-color: #4145c1;
}
.navbar-default .navbar-toggle {
  border-color: #4145c1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4145c1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e7f7f7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7f7f7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7f7f7;
    background-color: #4145c1;
  }
}

.navbar-right {
	margin-right: 40px;
}
.navbar-fixed-top {
    font-size: 12pt;
    padding-right: 15px;
    padding-top: 5px;
}
.navbar-background {
    background-color: #88b2ec;
    height: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-no-background {
    height: 70px;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Carousel ===================================================== */
/* 修改 carousel 的圖片 大小 */
.carousel-inner img{
	width: 100%;
}


/* Sidr ===================================================== */
#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
        /*設定為fixed */
        position: fixed;
        /* 
        bootstrap中，因為設定的關係，所以有很多層，因此top fixed指定為1030
		The bootstrap navbar has a z-index of 1030 so in order for 
		the bootstro backdrop to cover the navbar you need to adjust 
		the z-index to be higher than 1030.
		*/
        z-index: 1030;
    }
    #responsive-menu-button img{
        width: 32px;
        height: 32px;
        margin-left: 5px;
        margin-top: 5px;
        padding-top: 5px;
        padding-left: 10px;
        
    }
}

#navigation li a {
    color:#FFF;
}

#navigation li a:hover {
    /* 取代原先 bootstrap顏色 為透明 */
    background-color: transparent;
    color: 
}


/* foooter 區塊 */
.footer_section {
    /*height: 400px;
    background-color: #f7f8fa;*/
}
