body {
	background-color: #ffffff;
	text-align: center;
}

body:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}


#map, #main, #user, #verify {
	max-height: 1440px;
	height:100%;
	width:100%;
	position:relative;
}

.content {
	position:relative;
	top:calc(15%);
}

.decorateForm {
	background-color: #ffffff;
	border-radius: 10px;
}

#map-canvas {
	position:fixed; 

	left:-200px; 
	width:150%;
	height:100%;	
}

#map .row .decorateForm {

	background-color: #000000;
	position: absolute;
	width:30%;
	top: 200px;
	left: 50px;
	padding:3% 5%;
	opacity: 0.8;

}
/*
#main .btn3,#user .btn1 {
	margin-top:80px;
}

#verify .verifyTitle {
	margin-top:80px;
}
*/
#main .row .decorateForm {

	float:right;
	height: 50%;
	width:60%;
	padding:6% 8%;
	margin-left:20%;
	margin-bottom:4%;
	margin-top:8%;


}

#calendar {
	float:left;
	width:60%;
	height:60%;
	overflow-y:hidden;
	margin-bottom:4%;
	margin-top:5%;
}

#user .row .decorateForm {
	height: 40%;
	width:50%;
	padding:4%;
	
	margin-bottom:10%;
}




#verify .userData {
	text-align: left;
	font-size: 11pt;
	line-height: 35px;
	background-color: #ffffff;
	height: 300px;
	width:60%;
	top:100px;
	padding:4% 5%;
	border-radius: 10px;

}

.col-centered{
  display: inline-block;
  vertical-align: middle;    
}

.btnDirection ,.last-btn button{
	width:140px;
}

.last-btn {
	margin-top: 40px;
}

#price {
	font-size: 16pt;
	font-weight: bolder;
}

#total, #time {
	color: #ffffff;
	font-size: 12pt;
	font-weight: lighter;
}

#hint {

	background-color: #bbbde8;
	font-size: 11pt;
	font-weight: bolder;
}

#id_remarks {
	height: 160%;
}

label , #dollar{
	font-size: 11pt;
}

#priceTip ,#contTip {
	font-size: 10pt;
}

@media screen and (min-width: 480px) and (max-width: 1200px){
	#map .row .decorateForm {width:40%;}
	#main .row .decorateForm {width:80%;}
	#calendar {width:80%;}
	#user .row .decorateForm {width:80%;}
	#verify .userData {width:80%;font-size: 10pt;}
	.btnDirection ,.last-btn button{width:80px;}
	#id_remarks {height: 130%;}
	.content {top:calc(20%);}
} 