{% extends 'base.html' %}
{% load staticfiles %}

{% block page_used_style %}	
	<!-- sidr -->
	<link rel="stylesheet" href="{% static "sidr/css/jquery.sidr.dark.css"%}" >
	<!-- local -->
	<link rel="stylesheet" href="{% static "css/base.css" %}">

{% endblock %}

<!-- 內容區塊 -->
{% block content_section %}
	<article>
		<section class="slider_section">
			<div id="slider_carousel" class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					{% for slider in main_sliders %}
						<li data-target="#slider_carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
					{% endfor %}
					<!--
					<li data-target="#slider_carousel" data-slide-to="0" class="active"></li>
					<li data-target="#slider_carousel" data-slide-to="1"></li>
					<li data-target="#slider_carousel" data-slide-to="2"></li>
					<li data-target="#slider_carousel" data-slide-to="3"></li>
					<li data-target="#slider_carousel" data-slide-to="4"></li>
					-->
				</ol>
				<!-- Wrapper for slides -->
		  		<div class="carousel-inner" role="listbox">
			    	<!-- 
			    	<div class="item active">
		      			<img src="{% static "images/main-slider/main-slider-1.jpg" %}" alt="...">
			    	</div>
			    	-->
			    	{% for slider in main_sliders %}

		    		<div class="item {% if forloop.counter == 1 %} active {% endif %}">
			      		<img src="{% static slider %}" alt="...">
			      		<div class="carousel-caption">
			        
			      		</div>
			    	</div>
			    	{% endfor %}
			    	
			 	</div>
	
			</div>
		  	<div class="jumbotron">
				<h1>放心搬</h1>
				<p>透過放心搬，解決你在搬家與搬運上的所有困擾。</p>
				<p><a class="btn btn-green btn-lg" href="#" role="button">我要放心搬</a></p>
			</div>
		</section>
		<!-- 使用者區塊：使用者遇到的困難，我們踢倒了 -->
		<section class="user_problem_section">
			<div class="row">
				<!-- 顯示區塊 -->
				<div class="content_margin">
					<!-- 內容 -->
					<div class="col-md-3 col-md-offset-2">
						<p>
							「放心搬」是一個共享經濟的服務平台。我們將在家中的車庫裡開始創業,希望未來在全國各地擁有我們的據點外,更是放眼國際,希冀在每個國家都擁有我們的辦公室,我們的服務據點!
						</p>
						<p>
							我們邀請每一個人成為我們的特約司機,讓全世界的人們參與這件事,使搬運任何物品都是更加便利與快速的。
						</p>
					</div>
					<!-- 圖示 -->
					<div class="col-md-6 col-md-offset-1">
						
					</div>
				</div>
			</div>
		</section>
		<!-- 放心搬使用區塊：透過幾個步驟，放心搬解決你的困擾 -->
		<section class="funmove_flow_section">
			<div class="row">
				<!-- 顯示區塊 -->
				<div class="content_margin">
					<!-- 內容 -->
					<div class="col-md-3 col-md-offset-2">
						
					</div>
					<!-- 圖示 -->
					<div class="col-md-6 col-md-offset-1">
						
					</div>
				</div>	
			</div>
		</section>
		<!-- 放心搬特色：放心搬的特點 -->
		<section class="funmove_feature_section">
			<div class="row">
				
			</div>
		</section>
		<!-- 使用放心搬的人的介紹 -->
		<section class="used_people_stroy_section">
			<div class="row">
				
			</div>
		</section>
		<!-- 前往訂單頁 -->
		<section class="go_order_section">
			<div class="row">
				<p class="btn_location"><a class="go_order" href="#" >我要放心搬</a>
			</div>
		</section>
	</article>
{% endblock content_section %}


{% block page_used_script %}
	<!-- RWD Mobile 側邊欄 -->
	<script src="{% static "sidr/js/jquery.sidr.min.js" %}"></script>	
	<script src="{% static "js/home.js" %}"></script>	
{% endblock %}