{% extends "backend/index.html" %}

{% block content %}
<!-- List of uploaded documents -->
	{% if documents %}
	<ul>  
		{% for document in documents %}
			<li><a href="{{ document.image.url }}">{{ document.image.name }}
				<img src="{{ document.image.url }}" alt="{{ document.image.name }}">
			</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No documents.</p>
	{% endif %}
	<form action="{% url 'backend_list' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{ form.image.label_tag }} </p>
		<p>
			{{ form.image.errors }}
			{{ form.image }}
		</p>
		<p><input type="submit" value="Upload" /></p>
	</form>

{% endblock %}