{% extends "backend/index.html" %}

{% block active_nav_sidebar %} <!-- how to work better with block -->
            <ul class="nav nav-sidebar">
              <li><a href="{% url 'backend_index' %}">Overview</a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="{% url 'backend_imgupload' %}">Upload</a></li>
              <li class="active"><a href="{% url 'backend_show' %}">Delete Image<span class="sr-only">(current)</span></a></li>
              <li><a href="{% url 'backend_order' %}">Orders</a></li>
              <li><a href="">Another nav item</a></li>
              <li><a href="">More navigatiosn</a></li>
            </ul>
{% endblock %}


{% block content %}
	{% if documents %}
	<ul>  
		{% for document in documents %}
			<li><a href="{% url 'backend_imgdel' pk=document.id %}">{{ document.image.name }}
				<img src="{{ document.image.url }}" alt="{{ document.image.name }}">
			</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>No documents.</p>
	{% endif %}
	

{% endblock %}