{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>放心搬，解決你在外搬宿的困擾</title>
	<!-- Bootstrap Mobile First-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- bootstrap -->
	<!-- theme must first , then will be 3 theme-->
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">

	<link rel="stylesheet" href="{% static "css/base.css" %}">
	<link rel="stylesheet" href="{% static "sidr/css/jquery.sidr.dark.css"%}" >

	<!-- 各頁面的樣式檔案 -->
	{% block page_used_style %}	
	{% endblock %}

</head>
<body>

	<header>
			<div id="mobile-header">

			    <a id="responsive-menu-button" href="#sidr-main">
			    	<img src="{% static "images/menu-icon.png" %}" />
			    </a>
			</div>
			<div id="navigation">
				    <nav class="navbar-fixed-top navbar-no-background">
				    	<div class="navbar-collapse collapse">
				    		<ul class="nav navbar-nav navbar-left">
				    		<li>
				    			<!--
				    			<a href="#download">
				    				<img src="{% static "images/menu-icon.png" %}" />
				    			</a>
				    			-->
				    		</li>
				    		</ul>
				    		<ul class="nav navbar-nav navbar-right">
					            <li><a href="#download">放心搬介紹</a></li>
					            <li><a href="#download">放心搬特色</a></li>
					            <li><a href="#download">我要放心搬</a></li>
					            <li><a href="#usage">關於我們</a></li>
					            <li><a href="#documentation">與我們聯絡</a></li>
					            
				        	</ul>
				    	</div>
				    </nav>
    		</div>

	</header>
	<div id="navigation_bottom"></div>	
	<!-- 內容區塊 -->
	{% block content_section %}
	{% endblock content_section %}


	<footer class="footer_section">
		<div class="row">
			
		</div>
	</footer>
	
	<script  src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script  src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "sidr/js/jquery.sidr.min.js" %}"></script>	
	<!-- local -->
	<script  src="{% static "js/base.js" %}"></script> 
	<!-- 各頁面的腳本檔案 -->
	{% block page_used_script %}
	{% endblock %}
</body>
</html>