{% extends 'base.html' %}
{% load staticfiles %}

{% block page_used_style %}	
	<!-- local -->
	<link rel="stylesheet" href="{% static "css/home.css" %}">

{% endblock %}

<!-- 內容區塊 -->
{% block content_section %}
	<article>
		<section class="slider_section">
			<div id="slider_carousel" class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					{% for slider in main_sliders %}
						<li data-target="#slider_carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
					{% endfor %}
					<!--
					<li data-target="#slider_carousel" data-slide-to="0" class="active"></li>
					<li data-target="#slider_carousel" data-slide-to="1"></li>
					<li data-target="#slider_carousel" data-slide-to="2"></li>
					<li data-target="#slider_carousel" data-slide-to="3"></li>
					<li data-target="#slider_carousel" data-slide-to="4"></li>
					-->
				</ol>
				<!-- Wrapper for slides -->
		  		<div class="carousel-inner" role="listbox">
			    	<!-- 
			    	<div class="item active">
		      			<img src="{% static "images/main-slider/main-slider-1.jpg" %}" alt="...">
			    	</div>
			    	-->
			    	{% for slider in main_sliders %}

		    		<div class="item {% if forloop.counter == 1 %} active {% endif %}">
			      		<img src="{% static slider %}" alt="...">
			      		<div class="carousel-caption">
			        
			      		</div>
			    	</div>
			    	{% endfor %}
			    	
			 	</div>
	
			</div>
		  	<div class="jumbotron">
				<h1>放心搬</h1>
				<p>透過放心搬，解決你在搬家與搬運上的所有困擾。</p>
				<p><a class="btn btn-green btn-lg" href="#" role="button">我要放心搬</a></p>
			</div>
		</section>
		<!-- 使用者區塊：使用者遇到的困難，我們聽到了 -->
		<section class="user_problem_section">
			<div class="row">
				<!-- 顯示區塊 -->
				<div class="content_margin">
					<!-- 內容 -->
					<div class="col-md-3 col-md-offset-2">
						<p>
							「放心搬」是一個共享經濟的服務平台。我們將在家中的車庫裡開始創業,希望未來在全國各地擁有我們的據點外,更是放眼國際,希冀在每個國家都擁有我們的辦公室,我們的服務據點!
						</p>
						<p>
							我們邀請每一個人成為我們的特約司機,讓全世界的人們參與這件事,使搬運任何物品都是更加便利與快速的。
						</p>
					</div>
					<!-- 圖示 -->
					<div class="col-md-6 col-md-offset-1">
						
					</div>
				</div>
			</div>
		</section>
		<!-- 放心搬使用區塊：透過幾個步驟，放心搬解決你的困擾 -->
		<section class="funmove_flow_section">
			<div class="row">
				<!-- 顯示區塊 -->
				<div class="content_margin">
					<!-- 內容 -->
					<div class="col-md-3 col-md-offset-2">
						
					</div>
					<!-- 圖示 -->
					<div class="col-md-6 col-md-offset-1">
						
					</div>
				</div>	
			</div>
		</section>
		<!-- 放心搬特色：放心搬的特點 -->
		<section class="funmove_feature_section">
			<div class="row">
				
			</div>
		</section>
		<!-- 使用放心搬的人的介紹 -->
		<section class="used_people_stroy_section">
			<!-- 內容 -->
			<div class="row feature_title">
				<h1>放心搬處處都用心</h1>
				<p>服務的部分都是為您為出發點而考量，讓您在搬家中感受我們的用心。</p>
			</div>
			<div class="row">
				<!-- 顯示區塊 -->
				<div class="content_margin feature_content">
					<!-- 上排 -->
					<div class="row">
						<!-- 簡單 -->
						<div class="col-md-1 col-md-offset-1">
							<img src="{% static "images/feature-simple.png" %}" />
						</div>
						<div class="col-md-3">
							<h3>簡單</h3>
							<p>
							還在打電話找搬家公司嗎,現在只要三個步驟就完成預約,搬運士就會出現囉
							</p>
						</div>
						<!-- 方便 -->
						<div class="col-md-1 col-md-offset-2">
							<img src="{% static "images/feature-convenient.png" %}" />
						</div>
						<div class="col-md-3">
							<h3>方便</h3>
							<p>
							方便,還在確認地點的位置嗎,現在只要輸入建築物或宿舍名稱,搬運士就可以找到你囉
							</p>
						</div>
					</div>
					<!-- 下排 -->
					<div class="row feature_gap">
						<!-- 省錢 -->
						<div class="col-md-1 col-md-offset-1">
							<img src="{% static "images/feature-money.png" %}" />
						</div>
						<div class="col-md-3">
							<h3>省錢</h3>
							<p>
							公開透明的計價公式,採用使用者付費原則,使用多少付多少錢,您的錢自己省。
							</p>
						</div>
						<!-- 安心 -->
						<div class="col-md-1 col-md-offset-2">
							<img src="{% static "images/feature-love.png" %}" />
						</div>
						<div class="col-md-3">
							<h3>安心</h3>
							<p>
							找不到適合的搬運士嗎,現在您可以事前知道搬運士的評價,會不會讓您更加安心呢
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 前往訂單頁 -->
		<section class="go_order_section">
			<div class="row">
				<p class="btn_location"><a class="go_order" href="#" >我要放心搬</a>
			</div>
		</section>
	</article>
{% endblock content_section %}


{% block page_used_script %}
	<!-- RWD Mobile 側邊欄 -->
	<script src="{% static "js/home.js" %}"></script>	
{% endblock %}